.App {
  text-align: center;
  background-image: linear-gradient(to right, rgb(255, 106, 131), rgb(0, 183, 255));
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.HeaderImage {
  width: 10%;
  border-radius: 75px;
}

.HeaderText {
  background-color: rgb(22, 22, 22);
  width: 20%;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.664);
  font-size: calc(20px + 2vmin);
}


.HeaderIcon {
  color: rgb(255, 106, 131);
  width: 25px;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
